@use '../../scss/theme';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: theme.$purple;

    .login-container {
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}